


<mat-toolbar color="primary">
    <mat-toolbar-row>
    
      <button  mat-raised-button color="primary" routerLinkActive="mat-accent"  matTooltip="Activites" routerLink="/activite" >
      <mat-icon>build</mat-icon>Activites</button>
      &nbsp;&nbsp;
      <button  *ngIf="profile =='ADMIN'" mat-raised-button color="primary" routerLinkActive="mat-accent"   matTooltip="Utilistaeurs" routerLink="/user" >
      <mat-icon>speaker_phone</mat-icon>Users</button>
      &nbsp;&nbsp;
      <button  *ngIf="profile =='ADMIN'" mat-raised-button color="primary" routerLinkActive="mat-accent"  matTooltip="Utilistaeurs" routerLink="/tuser" >
        <mat-icon>speaker_phone</mat-icon>TUser</button>
        &nbsp;&nbsp;
      <button  mat-raised-button color="primary" routerLinkActive="mat-accent" matTooltip="Graphique" routerLink="/graphique" >
      <mat-icon>pie_chart</mat-icon>Graphique</button>

        <span class="fill-space"></span>

        <button mat-raised-button aria-label="Profile" matTooltip="{{profile}}" *ngIf="profile =='ADMIN'"  color="primary" routerLinkActive="mat-accent" routerLink="/profile"  >
          <mat-icon>supervisor_account</mat-icon>
        </button>
        <button mat-raised-button aria-label="Profile" matTooltip="{{profile}}" *ngIf="profile =='USER'" color="primary" routerLinkActive="mat-accent" routerLink="/profile"  >
          <mat-icon>account_circle</mat-icon>
          <mat-icon>exit_to_app</mat-icon>
        </button>


      
      
        <button mat-icon-button aria-label="Profile" color="accent" routerLink="/login"  >
       
          <mat-icon>exit_to_app</mat-icon>
        </button>
     

    </mat-toolbar-row>
  </mat-toolbar>

    <router-outlet></router-outlet>
