<div  *ngIf="showEdit" class="mat-elevation-z12"   style="width:94%;margin-left:3%;margin-right:3%;margin-top:28px;"  >
<app-edit [item]="itemCurrent"   [user]="userSelected"   (quitteEvent)="showEdit = false "  ></app-edit>
</div>

<div [hidden]="showEdit"  class="mat-elevation-z12"  style="width:94%;margin-left:3%;margin-right:3%;margin-top:8px;"  >

<div class="loading-shade"
    *ngIf="isLoadingResults">
   <mat-spinner *ngIf="isLoadingResults"  [diameter]="50" ></mat-spinner>
 
</div>


<div  *ngIf="isSearch"  >
<mat-form-field style="margin-top:25px;font-size: 12px;margin-left:2%;width:60%;"  >
    <mat-icon matPrefix  >search</mat-icon>
    &nbsp;&nbsp;
    <input matInput type="text"  [matAutocomplete]="auto"   [formControl]="searchControl"   placeholder="rechercher..." class="search-input">

    <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="refreshUser($event.option.value)" [displayWith]="displayProperty"  >
        <mat-option *ngFor="let item of (search$ | async) " [value]="item"   >
          <mat-icon>refresh</mat-icon>
          <span>{{item.prenom}} {{item.nom}}</span>
        </mat-option>
      </mat-autocomplete>

</mat-form-field>
&nbsp;&nbsp;
<button mat-mini-fab color="primary" (click)="isSearch=false" aria-label="Example icon button with a filter list icon">
<mat-icon>back</mat-icon>
</button>
</div>


<div [hidden]="isSearch" >

<button  *ngIf="isAdmin"  mat-button color="primary"  style="margin-top:25px;font-size: 12px;margin-left:2%;width:60%;"  (click)="autocomplete()"  >
<mat-icon *ngIf="isAdmin"  matPrefix  >search</mat-icon>
&nbsp;&nbsp;
{{ textUser }}</button>

<button  *ngIf="!isAdmin"  [disableRipple]="true"  mat-raised-button color color="primary"  style="margin-top:25px;font-size: 12px;margin-left:2%;width:60%;"   >
&nbsp;&nbsp;
{{ textUser }}</button>
&nbsp;&nbsp;
<button mat-mini-fab color="primary"  (click)="toAdd()" aria-label="Example icon button with a filter list icon">
<mat-icon>add</mat-icon>
</button>
&nbsp;&nbsp;
<button mat-mini-fab color="primary"  *ngIf="userSelected"  (click)="refreshUser( false )" aria-label="Example icon button with a filter list icon">
<mat-icon>home</mat-icon>
</button>



    <table mat-table [dataSource]="dataSource"   style="font-size: 10px;" >
     
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let item"> {{item.date | date:'dd-MM-yy HH:mm'}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let item"> {{item.type}} </td>
        </ng-container>
        <ng-container matColumnDef="dist">
            <th mat-header-cell *matHeaderCellDef>Distance</th> 
            <td mat-cell *matCellDef="let item"> {{item.dist}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let item"> {{item.desc}}</td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Edition</th>
            <td mat-cell *matCellDef="let item" (click)="toEdition(item)">
            <mat-icon color="primary" >edit</mat-icon>    
           </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>testeur</th>
            <td mat-cell *matCellDef="let item">
            <mat-icon color="warn"  >delete</mat-icon>    
           </td>
        </ng-container>
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

   
<div style="display: flex;justify-content: space-between;margin-left:2%;margin-right:2%;">
<mat-paginator  [pageSize]="pageSize"  [pageSizeOptions]="pageOptions"   (page)="PaginationChange($event)"  showFirstLastButtons></mat-paginator>
</div>

</div>

</div>

